In [2]:

import pandas as pd
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playbyplay
import numpy as np
import time
from statistics import multimode
import os

In [33]:
test_list = []
season_list = ['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', \
              '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', \
              '2018-19', '2019-20', '2020-21', '2021-22']

In [34]:
get_team_and_year(nba_teams, season_list, test_list)

(['2000-01',
  '2001-02',
  '2002-03',
  '2003-04',
  '2004-05',
  '2005-06',
  '2006-07',
  '2007-08',
  '2008-09',
  '2009-10',
  '2010-11',
  '2011-12',
  '2012-13',
  '2013-14',
  '2014-15',
  '2015-16',
  '2016-17',
  '2017-18',
  '2018-19',
  '2019-20',
  '2020-21',
  '2021-22'],
 [{'id': 1610612737,
   'full_name': 'Atlanta Hawks',
   'abbreviation': 'ATL',
   'nickname': 'Hawks',
   'city': 'Atlanta',
   'state': 'Atlanta',
   'year_founded': 1949},
  {'id': 1610612738,
   'full_name': 'Boston Celtics',
   'abbreviation': 'BOS',
   'nickname': 'Celtics',
   'city': 'Boston',
   'state': 'Massachusetts',
   'year_founded': 1946},
  {'id': 1610612739,
   'full_name': 'Cleveland Cavaliers',
   'abbreviation': 'CLE',
   'nickname': 'Cavaliers',
   'city': 'Cleveland',
   'state': 'Ohio',
   'year_founded': 1970},
  {'id': 1610612740,
   'full_name': 'New Orleans Pelicans',
   'abbreviation': 'NOP',
   'nickname': 'Pelicans',
   'city': 'New Orleans',
   'state': 'Louisiana',
   'year_founded': 2002},
  {'id': 1610612741,
   'full_name': 'Chicago Bulls',
   'abbreviation': 'CHI',
   'nickname': 'Bulls',
   'city': 'Chicago',
   'state': 'Illinois',
   'year_founded': 1966},
  {'id': 1610612742,
   'full_name': 'Dallas Mavericks',
   'abbreviation': 'DAL',
   'nickname': 'Mavericks',
   'city': 'Dallas',
   'state': 'Texas',
   'year_founded': 1980},
  {'id': 1610612743,
   'full_name': 'Denver Nuggets',
   'abbreviation': 'DEN',
   'nickname': 'Nuggets',
   'city': 'Denver',
   'state': 'Colorado',
   'year_founded': 1976},
  {'id': 1610612744,
   'full_name': 'Golden State Warriors',
   'abbreviation': 'GSW',
   'nickname': 'Warriors',
   'city': 'Golden State',
   'state': 'California',
   'year_founded': 1946},
  {'id': 1610612745,
   'full_name': 'Houston Rockets',
   'abbreviation': 'HOU',
   'nickname': 'Rockets',
   'city': 'Houston',
   'state': 'Texas',
   'year_founded': 1967},
  {'id': 1610612746,
   'full_name': 'Los Angeles Clippers',
   'abbreviation': 'LAC',
   'nickname': 'Clippers',
   'city': 'Los Angeles',
   'state': 'California',
   'year_founded': 1970},
  {'id': 1610612747,
   'full_name': 'Los Angeles Lakers',
   'abbreviation': 'LAL',
   'nickname': 'Lakers',
   'city': 'Los Angeles',
   'state': 'California',
   'year_founded': 1948},
  {'id': 1610612748,
   'full_name': 'Miami Heat',
   'abbreviation': 'MIA',
   'nickname': 'Heat',
   'city': 'Miami',
   'state': 'Florida',
   'year_founded': 1988},
  {'id': 1610612749,
   'full_name': 'Milwaukee Bucks',
   'abbreviation': 'MIL',
   'nickname': 'Bucks',
   'city': 'Milwaukee',
   'state': 'Wisconsin',
   'year_founded': 1968},
  {'id': 1610612750,
   'full_name': 'Minnesota Timberwolves',
   'abbreviation': 'MIN',
   'nickname': 'Timberwolves',
   'city': 'Minnesota',
   'state': 'Minnesota',
   'year_founded': 1989},
  {'id': 1610612751,
   'full_name': 'Brooklyn Nets',
   'abbreviation': 'BKN',
   'nickname': 'Nets',
   'city': 'Brooklyn',
   'state': 'New York',
   'year_founded': 1976},
  {'id': 1610612752,
   'full_name': 'New York Knicks',
   'abbreviation': 'NYK',
   'nickname': 'Knicks',
   'city': 'New York',
   'state': 'New York',
   'year_founded': 1946},
  {'id': 1610612753,
   'full_name': 'Orlando Magic',
   'abbreviation': 'ORL',
   'nickname': 'Magic',
   'city': 'Orlando',
   'state': 'Florida',
   'year_founded': 1989},
  {'id': 1610612754,
   'full_name': 'Indiana Pacers',
   'abbreviation': 'IND',
   'nickname': 'Pacers',
   'city': 'Indiana',
   'state': 'Indiana',
   'year_founded': 1976},
  {'id': 1610612755,
   'full_name': 'Philadelphia 76ers',
   'abbreviation': 'PHI',
   'nickname': '76ers',
   'city': 'Philadelphia',
   'state': 'Pennsylvania',
   'year_founded': 1949},
  {'id': 1610612756,
   'full_name': 'Phoenix Suns',
   'abbreviation': 'PHX',
   'nickname': 'Suns',
   'city': 'Phoenix',
   'state': 'Arizona',
   'year_founded': 1968},
  {'id': 1610612757,
   'full_name': 'Portland Trail Blazers',
   'abbreviation': 'POR',
   'nickname': 'Trail Blazers',
   'city': 'Portland',
   'state': 'Oregon',
   'year_founded': 1970},
  {'id': 1610612758,
   'full_name': 'Sacramento Kings',
   'abbreviation': 'SAC',
   'nickname': 'Kings',
   'city': 'Sacramento',
   'state': 'California',
   'year_founded': 1948},
  {'id': 1610612759,
   'full_name': 'San Antonio Spurs',
   'abbreviation': 'SAS',
   'nickname': 'Spurs',
   'city': 'San Antonio',
   'state': 'Texas',
   'year_founded': 1976},
  {'id': 1610612760,
   'full_name': 'Oklahoma City Thunder',
   'abbreviation': 'OKC',
   'nickname': 'Thunder',
   'city': 'Oklahoma City',
   'state': 'Oklahoma',
   'year_founded': 1967},
  {'id': 1610612761,
   'full_name': 'Toronto Raptors',
   'abbreviation': 'TOR',
   'nickname': 'Raptors',
   'city': 'Toronto',
   'state': 'Ontario',
   'year_founded': 1995},
  {'id': 1610612762,
   'full_name': 'Utah Jazz',
   'abbreviation': 'UTA',
   'nickname': 'Jazz',
   'city': 'Utah',
   'state': 'Utah',
   'year_founded': 1974},
  {'id': 1610612763,
   'full_name': 'Memphis Grizzlies',
   'abbreviation': 'MEM',
   'nickname': 'Grizzlies',
   'city': 'Memphis',
   'state': 'Tennessee',
   'year_founded': 1995},
  {'id': 1610612764,
   'full_name': 'Washington Wizards',
   'abbreviation': 'WAS',
   'nickname': 'Wizards',
   'city': 'Washington',
   'state': 'District of Columbia',
   'year_founded': 1961},
  {'id': 1610612765,
   'full_name': 'Detroit Pistons',
   'abbreviation': 'DET',
   'nickname': 'Pistons',
   'city': 'Detroit',
   'state': 'Michigan',
   'year_founded': 1948},
  {'id': 1610612766,
   'full_name': 'Charlotte Hornets',
   'abbreviation': 'CHA',
   'nickname': 'Hornets',
   'city': 'Charlotte',
   'state': 'North Carolina',
   'year_founded': 1988}])

In [25]:
def get_team_and_year(nba_teams, season_list, sixth_man_df_list):
    # IF the Df exists
    if len(sixth_man_df_list) == 1:
        df = sixth_man_df_list[0]
        last_team = df.loc[len(df) - 1, 'Team']
        last_season = df.loc[len(df) - 1, 'Season']
        # Get team_list
        for i in range(len(nba_teams)):
            if last_team == nba_teams[i]['full_name']:
                used_team_list = nba_teams[i:]
        # Get correct season_list and update team_list if need be
        if last_season == '2021-22':
            used_season_list = season_list
            used_team_list = used_team_list[1:]
        else: 
            correct_index = season_list.index(last_season)
            used_season_list = season_list[(correct_index+1):]
    # If df does not exist
    else: 
        used_season_list = season_list
        used_team_list = nba_teams

    return used_season_list, used_team_list

In [21]:
test_list = [['Maloney'], ['Henderson'], ['Bowdler'], ['Mottola'], ['Mottola'], ['Mottola'], ['Wright'], ['Wright', 'Mottola', 'Maloney'], ['Wright', 'Mottola'], ['Wright'], ['Maloney'], ['Wright'], ['Glover'], ['Mottola', 'Maloney'], ['Wright'], ['Mottola', 'Maloney'], ['Crawford', 'Maloney'], ['Henderson'], ['Glover', 'Henderson'], ['Sanchez'], ['Mohammed', 'Johnson'], ['Johnson'], ['Mohammed', 'Kukoc'], ['Sanchez'], ['Mohammed', 'Kukoc'], ['Johnson'], ['Mottola', 'Glover', 'Mohammed'], ['Bowdler', 'Mottola'], ['Robinson', 'Henderson'], ['Henderson'], ['Glover'], ['Crawford'], ['Crawford'], ['McLeod', 'Henderson'], ['Crawford'], ['Crawford'], ['Smith'], ['Knight'], ['Henderson'], ['McLeod'], ['McLeod'], ['Crawford', 'Smith', 'Henderson'], ['Crawford'], ['Glover'], ['Colson', 'Glover', 'Henderson'], ['Henderson'], ['Glover'], ['Glover', 'Maloney'], ['Henderson'], ['Knight', 'Glover', 'Henderson'], ['Knight', 'Mottola'], ['Johnson'], ['Jackson'], ['Jackson', 'A. Johnson'], ['Mottola', 'Jackson'], ['Robinson'], ['Mottola', 'A. Johnson'], ['D. Johnson'], ['Mottola', 'D. Johnson'], ['McLeod'], ['Robinson'], ['Wright'], ['Robinson'], ['Mottola', 'Wright'], ['Robinson', 'Wright'], ['Mottola', 'Wright'], ['Wright'], ['D. Johnson'], ['D. Johnson'], ['A. Johnson', 'Wright'], ['Wright'], ['Terry', 'Wright', 'Mottola'], ['Wright'], ['Robinson'], ['Henderson'], ['A. Johnson', 'D. Johnson'], ['Wright'], ['Maloney'], ['Wright'], ['D. Johnson', 'A. Johnson'], ['Crawford'], ['Crawford']]

In [3]:
from sixthman import sixth_man_main
for i in range(100):
  for attempt in range(10):
    try:
      sixth_man_main()
    except:
      continue
    else:
      break
  else:
    print('Failed too many Times')

Good
Good
Good
Good
Good
Good
Good
Good
Good
Good
Failed too many Times
Good
Good
Good
Good
Good
Good
Good
Good
Good
Good
Failed too many Times
Good
Good
Good
Good
Good
Good
Good
Good
Good
Good
Failed too many Times
Good
Good
Good
Good
Good
Good
Good

In [2]:
sixth_man_main()

Good

KeyboardInterrupt:

In [54]:
def return_mode_player(sixth_man_list):
  total_players_list = []
  for value in sixth_man_list:
      for x in value: total_players_list.append(x)
  return multimode(total_players_list)

areturn_mode_player(test_list)

ImportError: cannot import name 'main_sixth_man' from 'sixthman' (c:\Users\kaste\dataManipulation\6thManProject\sixthman.py)

In [42]:

def add_to_list(sixth_men_mode, sixth_man_df_list, season, team):
    for player in sixth_men_mode:
        sixth_man_df_list.append(pd.DataFrame({'Player': [player], 'Season': [season], 'Team': [team]}))
    return sixth_man_df_list

sixth_man_df_list = add_to_list(a, sixth_man_df_list, '2000-01', 'Atlanta Hawks')
pd.concat(sixth_man_df_list)

   Player   Season           Team
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks

In [49]:
type(pd.DataFrame({}))

pandas.core.frame.DataFrame

In [34]:
sixth_man_df_list

   Player   Season           Team
0  Wright  2000-01  Atlanta Hawks
0  Wright  2000-01  Atlanta Hawks